.add-todo {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
.add-todo-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.input-div {
  display: flex;
  width: 100%;
  align-items: center;
}
.input-field {
  width: 70%;
  background-color: #f0f0f0;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  margin-right: 10px;
}
.input-label {
  font-weight: bold;
  margin-right: 10px;
}
input:focus {
  outline: none;
}

.form-button {
  width: 80%;
  color: #ffffff;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 16px;
  font-size: 16px;
  cursor: pointer;
}
.add-button:hover {
  background-color: #db5a1f;
}
.form-buttons {
  display: flex;
  width: 80%;
}
.add-button {
  margin-right: 10px;
  background-color: #f37336;
}
.cancel-button {
  background-color: #2bafe7;
}
.cancel-button:hover {
  background-color: #0e94cd;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
