.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
}
.todo-data {
  display: flex;
  flex-direction: row;

  padding: 10px;
}

.list-icon {
  font-size: 50px;
  color: #f26e56;
  margin-right: 10px;
}
.todo-details {
  font-size: 18px;
}
.todo-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}
.todo-description {
  font-size: 14px;

  margin-bottom: 5px;
}
.incompleted {
  background-color: rgba(86, 148, 242, 0.2);
}
.completed {
  background-color: rgba(83, 194, 197, 0.2);
}
.todo-item-icons {
  display: flex;

  align-items: center;
  padding: 10px;
  margin-right: 10px;
}

.trash-icon {
  font-size: 18px;
  color: #f26e56;
  margin-right: 10px;
  cursor: pointer;
  margin-left: 10px;
}

.check-icon {
  font-size: 18px;

  cursor: pointer;
}
.trash-icon:hover {
  color: #ff1a1a;
}

.todo-item button {
  background: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}
.check-icon-bg {
  width: 32px;
  height: 32px;
  border-radius: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
}
